<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- heading blue -->
    <div class="heading">
        <img src="../../assets/back.svg" alt="back arrow">
        <p>Create An Account</p>
        <div class="btn">
            <button>CANCEL</button>
            <button>CREATE</button>
        </div>
    </div>

    <!-- steps -->
    <div class="steps">
        <div class="circle">
        <span>1</span>
        </div>
        <p>Personal Information</p>
        <div class="line"></div>
        <div class="circle">
        <span>2</span>
        </div>
        <p>Qualification</p>
        <div class="line"></div>
        <div class="circle">
        <span>3</span>
        </div>
        <p>Review & Proceed</p>
    </div>

    <!-- all personal details displayed -->
    <div class="user_details">
        
    <!-- personal info page -->
    <div class="personal_info">
        <!-- info part left side -->
        <div class="first_part">
            <div class="input_line">
                <p>First Name</p>
                <p>John</p>
            </div>
            <div class="input_line">
                <p>Last Name</p>
                <p>Watson</p>
            </div>
            <div class="input_line">
                <p>Email</p>
                <p>Johnwatson&#64;example.com</p>
            </div>
            <div class="input_line ">
                <p>Phone Number</p>
                <div class="phn">
                <div class="country_code">
                    <p>+91</p>
                </div>
                <div class="number">
                    <p>2343456784</p>
                </div>
                </div>
            </div>
            <div class="upload">
                <img src="../../assets/Upload_black_24dp.svg" alt="upload resume">
                <p>Upload resume</p>
            </div>
            <div class="input_line">
                <p>Enter Portfolio URL (If Any)</p>
                <p>my Portfolio</p>
            </div>
            <div class="checkbox">
                <p>Preffered job Roles*:</p>
                <div class="same_line">
                    <p>Instructional Designer</p>
                </div>
                <div class="same_line">
                    <p>Software Engineer</p>
                </div>
                <div class="same_line">
                    <p>Software Quality Engineer</p>
                </div>
            </div>
            <div class="input_line">
                <p>If You Are Registering Via & Referral, Please Mention Full Name Of The Employee Who Referred You</p>
                <p>-</p>
            </div>
            <div class="send_updates">
                    <img src="../../assets/check_box_black_24dp.svg" alt="tick" />
                    <p>Send me job related updates via mail</p>
                </div>
        </div>

        <!-- dp part right side -->
        <div class="second_part">
            <img src="../../assets/account_circle.svg" alt="display picture">
            
        </div>

    </div>

    <div class="editable">
        <p>Qualifications</p>
        <img src="../../assets/reports.svg" alt="pen">
        <p>Edit</p>
    </div>
    <!-- education qualification -->

    <div class="education_qualification">
      <div class="title">
        <p>Educational Qualifications</p>
      </div>
      <!-- percentage and all -->
      <div class="part_one">
        <div class="input_line">
          <p>Aggregate Percentage</p>
          <p>65</p>
        </div>
        <div class="input_line">
          <p>Year Of Passing</p>
          <p>2020</p>
        </div>
      </div>
      <div class="part_two">
        <div class="first_line">
          <div class="input_line">
            <p>Qualification*</p>
          <p>Bachelor In Technology (B. Tech)</p>
          </div>
          <div class="input_line">
            <p>Stream*</p>
          <p>Information Technology</p>
          </div>
        </div>
        <div class="second_line">
          <div class="input_line">
            <p>College*</p>
          <p>Birla Vishvakarma Mahavidyalay (BVM)</p>
          </div>
          <div class="input_line">
            <p>If Others, Please Enter Your College Name</p>
            <p>-</p>
          </div>
        </div>
        <div class="input_line">
          <p>Where Is Your College Located?*</p>
          <p>Anand, Gujarat</p>
        </div>
      </div>
    </div>

    <!-- professional qualification -->
    <div class="professional_qualification">
        <div class="title">
            <p>Professional Qualifications</p>
      </div>

      <!-- radioline -->
      <div class="radio_box">
        <p>Application Type*</p>
        <div class="same_line">
            <p>experienced</p>
        </div>
      </div>

      <div class="preferences">
        <div class="input_line">
          <p>Years Of Experience</p>
          <p>5</p>
        </div>
        <div class="input_line">
          <p>Current CTC (in Rupees)</p>
          <p>5,00,000</p>
        </div>
        <div class="input_line">
          <p>Expected CTC (in Rupees)</p>
          <p>6,50,000</p>
        </div>

        <div class="expertise">
        <div class="input_line">
          <p>Select All The Technologies You Expertise In</p>
          <p>Javascript</p>
        </div>
        <div class="input_line">
          <p>If Others, Please Mention</p>
          <p>-</p>
        </div>
        </div>

        <div class="familiar">
        <div class="input_line">
          <p>Select All The Technologies You Are Familiar In</p>
          <p>React</p>
          <p>Angular JS</p>
        </div>
        <div class="input_line">
          <p>If Others, Please Mention</p>
          <p>-</p>
        </div>
        </div>

        <div class="input_line">
          <p>Are You Currently On Notice Period?</p>
          <p>Yes</p>
        </div>

        <div class="same_line">
           <div class="input_line">
                <p>If Yes, Then When Will Your Notice Period End?</p>
                <p>20-May-2020</p>
           </div> 
           <div class="input_line">
                <p>How Long Is Your Notice Peiod? (Mension In Months)</p>
                <p>2Months</p>
           </div> 
        </div>
        
        <div class="input_line">
          <p>Have You Appeared For Any Test By Zeus In The Past 12 Months?</p>
          <p>No</p>
        </div>
        <div class="input_line">
          <p>If Yes, Then Which Role Did You Apply For?</p>
          <p>-</p>
        </div>

      </div>
    </div>
    </div>
</body>
</html>
