<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- heading blue -->
    <div class="heading">
      <img src="../../assets/back.svg" alt="back arrow" />
      <p>Create An Account</p>
      <div class="btn">
        <button>CANCEL</button>
        <button>CREATE</button>
      </div>
    </div>

    <!-- steps -->
    <div class="steps">
      <div class="circle">
        <span>1</span>
      </div>
      <p>Personal Information</p>
      <div class="line"></div>
      <div class="circle">
        <span>2</span>
      </div>
      <p>Qualification</p>
      <div class="line"></div>
      <div class="circle">
        <span>3</span>
      </div>
      <p>Review & Proceed</p>
    </div>

    <!-- education qualification -->
    <div class="education_qualification">
      <div class="title">
        <p>Educational Qualifications</p>
        <span></span>
        <img src="../../assets/arrow-down.svg" alt="arrow down" />
      </div>
      <!-- percentage and all -->
      <div class="part_one">
        <div class="input_line">
          <p>Aggregate Percentage*</p>
          <input type="text" placeholder="65" />
          <div class="line"></div>
        </div>
        <div class="input_line">
          <p>Year Of Passing*</p>
          <select >
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
          </select>
          <span></span>
          
          <div class="line"></div>
        </div>
      </div>
      <div class="part_two">
        <div class="first_line">
          <div class="input_line">
            <p>Qualification*</p>
          <select >
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
          </select>
          <span></span>
            <div class="line"></div>
          </div>
          <div class="input_line">
            <p>Stream*</p>
          <select >
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
          </select>
          <span></span>
            <div class="line"></div>
          </div>
        </div>
        <div class="second_line">
          <div class="input_line">
            <p>College*</p>
          <select >
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
          </select>
          <span></span>
            <div class="line"></div>
          </div>
          <div class="input_line">
            <p>If Others, Please Enter Your College Name</p>
            <input type="text"  />
            <div class="line"></div>
          </div>
        </div>
        <div class="input_line">
          <p>Where Is Your College Located?*</p>
          <input type="text"  />
          <div class="line"></div>
        </div>
      </div>
    </div>

    <!-- professional qualification -->
    <div class="professional_qualification">
        <div class="title">
            <p>Professional Qualifications</p>
            <span></span>
            <img src="../../assets/arrow-down.svg" alt="arrow down" />
      </div>

      <!-- radioline -->
      <div class="radio_box">
        <p>Application Type*</p>
        <div class="same_line">
            <div class="box">
                <img src="../../assets/radio-button-on.svg" alt="radio button on">
                <p>Fresher</p>
            </div>
            <div class="box">
                <img src="../../assets/radio-button-off.svg" alt="radio button off">
                <p>experienced</p>
            </div>
        </div>
      </div>

      <div class="preferences">
        <div class="checkbox">
            <p>Select All The Technologies You Are Familiar In</p>
            <div class="same_line">
                <img src="../../assets/check_box_black_24dp.svg" alt="">
                <p>Javascript</p>
            </div>
            <div class="same_line">
                <img src="../../assets/checkbox-unchecked.svg" alt="">
                <p>Angular Js</p>
            </div>
            <div class="same_line">
                <img src="../../assets/check_box_black_24dp.svg" alt="">
                <p>React</p>
            </div>
            <div class="same_line">
                <img src="../../assets/check_box_black_24dp.svg" alt="">
                <p>Node Js</p>
            </div>
            <div class="same_line">
                <img src="../../assets/checkbox-unchecked.svg" alt="">
                <p>Others</p>
            </div>
        </div>
        <div class="input_line">
          <p>If Others, Please Mention</p>
          <input type="text" placeholder="" />
          <div class="line"></div>
        </div>
        <div class="bottom_radio_box">
        <p>Application Type*</p>
        <div class="same_line">
            <div class="box">
                <img src="../../assets/radio-button-on.svg" alt="radio button on">
                <p>Yes</p>
            </div>
            <div class="box">
                <img src="../../assets/radio-button-off.svg" alt="radio button off">
                <p>No</p>
            </div>
        </div>
      </div>
        <div class="input_line">
          <p>If Yes, Then Which Role Did You Apply For?</p>
          <input type="text" placeholder="" />
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="btn">
        <button>PREVIOUS</button>
        <button>NEXT</button>
    </div>
  </body>
</html>
