<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login_area">
    <div class="login_card">
        <div class="login_card_content">
            <p>Log in</p>
            <div class="first_line">
                <input type="text" placeholder="Email ID*">
                <div class="line"></div>
                <p>FORGOT EMAIL ID?</p>
            </div>
            <div class="second_line">
                <div class="same_line">
                    <input type="text" placeholder="Password*">
                    <img src="../../assets/preview.svg" alt="preview password">
                </div>
                <div class="line"></div>
                <p>FORGOT PASSWORD?</p>
            </div>
            <div class="third_line">
                <img src="../../assets/checkbox-checked.svg" alt="checked remeber me">
                <p>Remember Me</p>
            </div>
            <div class="btn">
                <button>LOG IN</button>
            </div>
            <div class="last_line">
                <p>Not registered yet?</p>
                <a href="#">CREATE AN ACCOUNT</a>
            </div>
        </div>
    </div>


    <!-- footer section -->
    <div class="footer">
        <div class="footer_one">
          <a href="#">About </a>
          <!-- <span></span> -->
          <a href="#">Contact Us</a>
        </div>

        <!-- <div class="footer_two">
          <span
            ><img src="icons/logo used in footer.svg" alt="footer logo"
          /></span>
          <p>
            copyright &copy; 2020-2021
            <span class="company_name"> Zeus System Pvt. Ltd</span>
            <span>All rights resorved.</span>
          </p>
        </div> -->
      </div>

    </div>
</body>
</html>