<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="hall_ticket_card">
        <div class="header">
            <img src="../../assets/correct.png" alt="successfull">
            <p>Congratulations! You have successfully applied for the walk-in opportunity</p>
        </div>

        <div class="line"></div>

        <div class="details">
            <p>Date & Time Of Walk-In : </p>
            <p>03 <span>rd</span> July 2021 </p>
            <p>9:00 AM to 11:00 AM</p>
        </div>
        
        <div class="line"></div>
        
        <div class="details">
            <p>Venue Of Walk-In : </p>
            <p>Zeus Systems Pvt. Ltd.</p>
            <p>1402, 14th Floor, Tower B, Peninsula Business Park. Ganpatrao Kadam Marg</p>
            <p>Lower Parel (W)</p>
            <p>Mumbai - 400 013</p>
            <p>Phone: +91-22-66600000</p>
        </div>

        <div class="line"></div>

        <div class="details">
            <p>THINGS TO REMEMBER : </p>
            <p>Please report 30 MINUTES prior to your reporting time. </p>
            <p>Download your Hall Ticket from below and carry it with you during your Walk-In.</p>
        </div>

        <div class="line"></div>

        <div class="btn">
            <button>DOWNLOAD HALL TICKET</button>
        </div>

    </div>
</body>
</html>
