<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- heading blue -->
    <div class="heading">
        <img src="../../assets/back.svg" alt="back arrow">
        <p>Create An Account</p>
        <div class="btn">
            <button>CANCEL</button>
            <button>CREATE</button>
        </div>
    </div>

    <!-- steps -->
    <div class="steps">
        <div class="circle">
        <span>1</span>
        </div>
        <p>Personal Information</p>
        <div class="line"></div>
        <div class="circle">
        <span>2</span>
        </div>
        <p>Qualification</p>
        <div class="line"></div>
        <div class="circle">
        <span>3</span>
        </div>
        <p>Review & Proceed</p>
    </div>

    <!-- personal info page -->
    <div class="personal_info">
        <!-- info part left side -->
        <div class="first_part">
            <div class="input_line">
                <p>First Name*</p>
                <input type="text" placeholder="John">
                <div class="line"></div>
            </div>
            <div class="input_line">
                <p>Last Name*</p>
                <input type="text" placeholder="Watson">
                <div class="line"></div>
            </div>
            <div class="input_line">
                <p>Email*</p>
                <input type="text" placeholder="Johnwatson@example.com">
                <div class="line"></div>
            </div>
            <div class="input_line ">
                <p>Phone Number*</p>
                <div class="phn">
                <div class="country_code">
                    <input type="text" placeholder="+91">
                    <div class="line"></div>
                </div>
                <div class="number">
                    <input type="text" placeholder="2343456784">
                    <div class="line"></div>
                </div>
                </div>
            </div>
            <div class="upload">
                <img src="../../assets/Upload_black_24dp.svg" alt="upload resume">
                <p>Upload resume</p>
            </div>
            <div class="input_line">
                <p>Enter Portfolio URL (If Any)</p>
                <input type="text" placeholder="">
                <div class="line"></div>
            </div>
            <div class="checkbox">
                <p>Preffered job Roles*:</p>
                <div class="same_line">
                    <img src="../../assets/check_box_black_24dp.svg" alt="tick" />
                    <p>Instructional Designer</p>
                </div>
                <div class="same_line">
                    <img src="../../assets/check_box_black_24dp.svg" alt="tick" />
                    <p>Software Engineer</p>
                </div>
                <div class="same_line">
                    <img src="../../assets/check_box_black_24dp.svg" alt="tick" />
                    <p>Software Quality Engineer</p>
                </div>
            </div>
            <div class="input_line">
                <p>If You Are Registering Via & Referral, Please Mention Full Name Of The Employee Who Referred You</p>
                <input type="text" placeholder="">
                <div class="line"></div>
            </div>
            <div class="send_updates">
                    <img src="../../assets/check_box_black_24dp.svg" alt="tick" />
                    <p>Send me job related updates via mail</p>
                </div>
        </div>

        <!-- dp part right side -->
        <div class="second_part">
            <img src="../../assets/account_circle.svg" alt="display picture">
            <div class="text">
            <p>upload display picture</p>
            <p>Max image size : 5MB</p>
            </div>
        </div>

    </div>
    <div class="btn_end">
        <button>NEXT</button>
    </div>
</body>
</html>
